
Data/Kasa/*
Data/RAPL/*
energy_measurements.csv
*.csv
*.ipynb
Data Processing/25-10-2023-data/results/simon
Data Processing/TODO.txt
data_processing/25-10-2023-data/results/simon
data_processing/TODO.txt
